<div class="container_big_card">
    <div class="big_card_photo">
        <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3rk7Uc8xWXvGL1c5MOs4bdiIdPGr5zZRMcQ&usqp=CAU"
        alt="imagem mock"
        height="400px"
        >
    </div>
    <div class="big_card_title">
        <h1><a href="#">Vamos falar de saúde?</a></h1>
    </div>
    <div class="big_card_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur optio ipsa, repudiandae id illo commodi similique iusto officia quo ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
</div>