<div class="container_small_card">
    <div class="container_small_card_content">
        <div class="small_card_photo">
            <img
            src="https://img.freepik.com/fotos-gratis/o-cerebro-escreve-com-giz-branco-esta-na-mao-desenhar-o-conceito_1150-19556.jpg?w=1380&t=st=1705935415~exp=1705936015~hmac=258f1c9e322a696e87177a0d586d1ac9423a8d43a5080bf9ca5052756649a1ca"
            alt="imagem mock"
            height="150px"
            >
        </div>
        <div class="small_card_title">
            <h1><a href="#">Tópico: Saúde mental</a></h1>
        </div>
    </div>
    <div class="container_small_card_line">
        <hr>
    </div>
</div>