.container_articles{
    background: white;
}

.container_articles > .container_articles_title{
    padding: 2.5rem 5rem;
    font-size: 1.625rem;
}

.container_articles_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
