<header>
    <app-menu-bar></app-menu-bar>
</header>
<main>
    <section>
        <app-main-section></app-main-section>
    </section>
    <section>
        <div class="container_articles">
            <div class="container_articles_title">
                <h1>Publicações recentes</h1>
            </div>
            <div class="container_articles_content">
                <div class="articles_big-card">
                    <app-big-card 
                        photoCover="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        cardTitle="Vamos falar de saúde?"
                        cardDescription="Saber informações valiosas e atualizadas sobre diversos aspectos da saúde é de extrema importância para promover um estilo de vida saudável e equilibrado. Descubra dicas práticas, últimas descobertas científicas e conselhos especializados para estar em dias com sua saúde."
                        ></app-big-card>

                    <app-big-card 
                        photoCover="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        cardTitle="Saúde Alimentar Consciente"
                        cardDescription= "Informações sobre alimentação saudável e consciente. Descubra receitas nutritivas, dicas de compras inteligentes e conselhos para manter uma relação equilibrada com a comida."
                    ></app-big-card>
                </div>
                <div class="articles_others-card">
                    <app-small-card
                        photoSmallCard="https://img.freepik.com/fotos-gratis/o-cerebro-escreve-com-giz-branco-esta-na-mao-desenhar-o-conceito_1150-19556.jpg?w=1380&t=st=1705935415~exp=1705936015~hmac=258f1c9e322a696e87177a0d586d1ac9423a8d43a5080bf9ca5052756649a1ca"
                        descriptionSmallCard="Saúde Mental em Foco"
                    ></app-small-card>

                    <app-small-card
                        photoSmallCard="https://images.unsplash.com/photo-1575278220902-cdf1a07a0421?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        descriptionSmallCard="Bem-Estar Emocional"
                    ></app-small-card>

                    <app-small-card
                        photoSmallCard="https://images.unsplash.com/photo-1607962837359-5e7e89f86776?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        descriptionSmallCard="Saúde física"
                    ></app-small-card>
                </div>
            </div>
        </div>
    </section>
</main>