.container_article_title{
    color:#3b5c47;
    width: 100%;
}
.container_article_title > h1{
    margin: 2.5rem auto;
    font-size: 3rem;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.container_article_title > hr{
    margin: .5rem;
}